[Unit]
Description=StoreConnect's dynamic visualization server
After=docker.service

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure

# Server-specific configuration
User=administrateur
ExecStart=/usr/local/bin/docker-compose up
WorkingDirectory=/opt/storeconnect-ontology/endpoints/dynamic-visualization-server

[Install]
WantedBy=multi-user.target